.wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0 80px 0;
}

.button {
  border: 1px solid var(--button);
   border-radius: 12px;
    padding: 12px 0px;
   width: 156px;
   height: 44px;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
color: var(--main);
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  border: 1px solid var(--button-hover);
}

.button:disabled {
  border-color: #8a8a8a;
  color: #8a8a8a;
  cursor: not-allowed;
}